# Flask and web framework dependencies
Flask==2.3.3
Werkzeug==2.3.7

# Image processing and computer vision
opencv-python==4.8.1.78
Pillow==10.0.1
numpy==1.24.3

# OCR (Optical Character Recognition)
pytesseract==0.3.10

# PDF processing
PyMuPDF==1.23.5


# Optional: If you want to add more advanced ML capabilities
scikit-learn==1.3.0
transformers==4.33.2
torch==2.0.1

# Optional: For better text processing
nltk==3.8.1
spacy==3.6.1

# Optional: For database support (if you plan to store results)
SQLAlchemy==2.0.21
Flask-SQLAlchemy==3.0.5

easyocr

google.generativeai

# python -m pip install 
paddlepaddle-gpu==3.1.0 -i https://www.paddlepaddle.org.cn/packages/stable/cu118/
paddleocr
accelerate
whisper
librosa
soundfile
moviepy
openai-whisper
setuptools-rust
gliner
gliner
easyocr